h1 #{ title }

p.lead.text-center It&rsquo;s time to get started customizing this page

hr

.well
  
  p Start getting familiar with your app&rsquo;s file structure. How about updating your app&rsquo;s page title?
 
  ol
    li Open <code>/public/_data.json</code>
    li Change the app's title from <code>Harp&rsquo;s Starter App</code> to <code>Hello World</code>


.container-fluid
  .row-fluid
    .span4
      h4 Creating new pages
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicam late, eaque inquit opes possit, sicine laudantium malle maximi pacto.
    .span4
      h4 Templating
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicam late, eaque inquit opes possit, sicine laudantium malle maximi pacto.
    .span4
      h4 Publishing
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicam late, eaque inquit opes possit, sicine laudantium malle maximi pacto.